---
- name: Configure devcontainer
  hosts: localhost
  connection: local
  become: true
  tasks:
    - name: Update apt cache
      apt:
        update_cache: true
        cache_valid_time: 3600

    - name: Install base packages
      apt:
        name:
          - build-essential
          - curl
          - git
          - supervisor
          - tini
        state: present
